<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f6f9;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
</style>

<body>
    <div>
        <div class="navbar">
            <div class="nav-left">
                <a href="/"><img class="logo1" src="/images/logo4.webp" alt="Manifox Logo"></a>
            </div>
            <div class="nav-menu">
                <a href="/">Home</a>
                <a href="/news">News</a>
                <a href="/upload">Upload</a>
                <a class="active" href="/management">Management</a>

            </div>

            <div class="nav-right">

                <% if (user) { %>
                    <div class="btn1">
                        <span>Hello, <%= user.fullName %></span>
                        <div>
                            <a href="/logout">Log out</a>
                        </div>
                    </div>
                    <% } else { %>
                        <a class="btn1" href="/login">Login</a>
                        <a class="btn1" href="/create">Create</a>
                        <% } %>

            </div>
        </div>
    </div>
    <div class="updateForm">
        <form id="updateForm">
            <fieldset>
                <legend>Update users</legend>

                <div class="input-group">
                    <label>ID:</label>
                    <input type="text" id="id" name="id" value="<%=userEdit.id %>" readonly />
                </div>

                <div class="input-group">
                    <label>Email:</label>
                    <input type="text" id="email" name="email" value="<%=userEdit.email %>" />
                </div>

                <div class="input-group">
                    <label>Full Name:</label>
                    <input type="text" id="fullName" name="fullName" value="<%=userEdit.fullName %>" />
                </div>

                <div class="input-group">
                    <label>Nick Name:</label>
                    <input type="text" id="nickName" name="nickName" value="<%=userEdit.nickName %>" readonly />
                </div>

                <div class="input-group">
                    <label>Password:</label>
                    <input type="password" id="password" name="password"
                        placeholder="Leave blank to keep current password" value="<%=userEdit.password %>" />
                </div>

                <div>
                    <button class="btn btn-confirm" type="submit">Save</button>
                    <button type="button" class="btn btn-back" onclick="window.history.back()">Back</button>
                </div>
            </fieldset>
        </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById('updateForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const id = document.getElementById('id').value;
            const fullName = document.getElementById('fullName').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            try {
                const res = await axios.put(`/api/v1/users/${id}`, {
                    fullName,
                    email,
                    password,
                });

                alert(res.data.message || 'Updated successfully');
                window.location.href = '/management'; // quay lại trang danh sách
            } catch (err) {
                console.error(err);

                const message = err.response?.data?.message;
                if (message === "missing infor") {
                    alert("Missing information");
                    window.location.href = `/update/${id}`;
                } else if (message === "wrong format of email") {
                    alert("wrong format of email");
                    window.location.href = `/update/${id}`
                }

            }
        });
    </script>

</body>

</html>